.footer{

    margin-top:60px;

    padding:25px 0;

    border-top:1px solid var(--border);

    text-align:center;

}

.footer p{

    color:var(--text-secondary);

    font-size:.9rem;

    letter-spacing:.5px;

    line-height:1.7;

}

.footer p:hover{

    color:var(--red);

    transition:.25s ease;

}
